@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    /*Colors*/
    --Cyan: hsl(180, 66%, 49%);
    --Dark-violent: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --Grayish-violent: hsl(257, 7%, 63%);
    --Very-dark-blue: hsl(255, 11%, 22%);
    --Very-dark-violent: hsl(260, 8%, 14%);

    /*Typography*/
    --font-size: 18px;
    --font-family: 'Poppins', sans-serif;
    --font-weight-regular: 500;
    --font-weight-bold: 700;

    /*Screen*/
    --max-width: 1240px;
    --min-width: 375px;
}

:is(*, *::after, *::before) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
    min-width: 100vw;
    min-height: 100vh;
    max-height: auto;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.container {
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: 0 auto;
}



/**********************  button  ***********************/
.button-temp {
    align-self: center;
    justify-self: center;
    font-size: 90%;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 25px;
    transition: background .5s, color .5s;
}

.cyan-button {
    background-color: var(--Cyan);
    color: #fff;
}

.cyan-button:hover {
    background-color:hsl(180, 80%, 62%);
}

.gray-button {
    color: var(--Grayish-violent);
}

.gray-button:hover {
    color: var(--Dark-violent);
}
/*******************************************************/



/**********************  header  ***********************/
.header-page {
    height: calc(100vh - 150px);
}

.header-page > nav {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 45% 1fr 20%;
    grid-template-rows: 100%;
}

.header-page > nav > ul {
    display: grid;
    grid-template-columns: 30% repeat(3, 1fr);
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}

.header-page > nav > ul > li {
    list-style: none;
}

.header-page > nav > ul > li > a {
    text-decoration: none;
    font-size: 90%;
    font-weight: var(--font-weight-bold);
    color: var(--Grayish-violent);
    transition: color .5s;
}

.header-page > nav > ul > li > a:hover {
    color: var(--Dark-violent);
}

.header-page > nav > ul > li > a > img {
    padding-top: 10px;
}

.header-page > nav > div {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
}
/*******************************************************/
